.ListProducts {
    height: 150px;
    width: 200px;
    margin: 10px;
    
    ul {
       list-style-type:  none;
       background-color: #eeeeee;
       border-radius: 5px;
       height: 100%;
     
     li {
         display: flex;
         flex-direction: row;

       }
    }
}

